<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>AutoSuggest</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <listener>
    <listener-class>LoadFileToPrepareMap</listener-class>
  </listener>
  <servlet>
    <description></description>
    <display-name>EntryServlet</display-name>
    <servlet-name>EntryServlet</servlet-name>
    <servlet-class>EntryServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EntryServlet</servlet-name>
    <url-pattern>/s</url-pattern>
  </servlet-mapping>
  <context-param>
    <param-name>MAX_RETURN_QUERIES</param-name>
    <param-value>4</param-value>
  </context-param>
  <context-param>
    <param-name>DATAFILE_LOCATION</param-name>
    <param-value>/WEB-INF/DataFiles</param-value>
  </context-param>
</web-app>